.wrapper {
    --search-border-radius: 96px;
    --search-height: 48px;
    --search-top-spacer: 6px;
    --search-width: 400px;
    height: var(--header-height);
    background-color: #000;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

.label {
    display: flex;
    color: #fff;
    font-weight: 600;
    user-select: none;
}

.active {
    color: var(--primary) !important;
}

.search {
    position: relative;
    display: flex;
    width: var(--search-width);
    align-items: center;
    height: var(--search-height);
    background-color: #fff;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: #000;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #000;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: var(--primary);
    }
}

.search-result {
    width: var(--search-width);
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    user-select: none;
}
.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.75);
    background-color: #fff;

    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.clear,
.loading {
    position: absolute;
    right: 60px;
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
    cursor: pointer;
}

.actions {
    display: flex;
}
.menu-list {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.menu-item {
    display: inline-block;
    padding: 0 12px;

    & a {
        color: #fff;
        text-decoration: none;
    }
    & a:hover {
        opacity: 0.6;
    }
    font-weight: 500;
}
.cart {
    color: #fff;
    cursor: pointer;
}

// more-btn để sau này responsive sẽ đổi thành menu
.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    color: #fff;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
