.main {
    display: flex;
    height: 753px;

    .contain__main {
        height: 100%;
        width: 90%;

        .content {
            position: relative;
            height: 95vh;

            .background__contain {
                margin: 0 auto;
                width: 95%;
                text-align: center;
                height: 40%;
                background-color: aqua;
            }

            .content__background {
                width: 100%;
                height: 100%;
                background-size: auto;
            }

            .content__information {
                background-color: #fff;
                box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
                border-top: 1px solid rgb(178, 171, 171);
                box-sizing: border-box;
                height: 370px;
                left: 2.5%;
                padding: 63px 140px 40px 170px;
                position: absolute;
                bottom: 9%;
                width: 95%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .content__information-label {
                    display: flex;
                    border-right: 1px solid black;
                    width: 60%;
                    height: 100%;
                    align-items: center;
                }

                .content__form {
                    font-size: 15px;
                    height: 100%;
                    width: 100%;
                    font-size: 18px;
                    margin-top: 55px;
                    margin-left: 40px;

                    .content__form-text {
                        display: block;
                        height: 40px;
                        margin: 20px 0;
                        width: 520px;

                        .content__form-start {
                            display: inline-block;
                            font-weight: 600;
                            margin-right: 25px;
                            cursor: pointer;

                            .content__form-start p {
                                margin-bottom: 8px;
                            }
                        }

                        .content__form-start label {
                            position: absolute;
                            display: block;
                            height: 23px;
                            width: 160px;
                            caret-color: transparent;
                        }

                        .content__form-input {
                            margin-top: 4px;
                            border: none;
                            font-size: 18px;
                            color: black;
                            padding: 0;
                            width: 280px;
                            outline: none;
                        }
                    }

                    .content__form-text:nth-child(1) .content__form-start {
                        margin-right: 74px;
                    }

                    .content__form-text:nth-child(2) .content__form-start {
                        margin-right: 58px;
                    }

                    .save__btn {
                        background-color: #fe7c4b;
                        border: 3px solid #fe7c4b;
                        border-radius: 4px;
                        color: #fff;
                        cursor: pointer;
                        font-family: inherit;
                        font-size: 14px;
                        font-weight: 600;
                        right: 0;
                        top: 103%;
                        transition: all 0.3s;
                        width: 200px;
                        height: 40px;
                        position: absolute;
                    }

                    .save__btn:hover {
                        background-color: black;
                        color: white;
                        border-color: black;
                    }

                    .save__btn--successful {
                        background-color: rgb(118, 118, 243);
                        width: 200px;
                        animation: SuccessBtn ease-in-out 3s;
                    }

                    .save__btn--successful:hover {
                        background-color: rgb(118, 118, 243);
                        width: 200px;
                    }

                    @keyframes SuccessBtn {
                        from {
                            opacity: 0.5;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                }

                ::placeholder {
                    font-size: 18px;
                    color: rgb(45, 44, 44);
                    font-style: italic;
                }
            }

            .content__avt {
                background-color: #000;
                border: 1px solid #fff;
                border-radius: 50%;
                height: 130px;
                left: 6%;
                overflow: hidden;
                position: absolute;
                top: 35%;
                width: 130px;
                z-index: 1;

                .background {
                    object-fit: cover;
                    width: 130px;
                    height: 130px;
                }
            }

            .nickname {
                z-index: 1;
                font-weight: 600;
                position: absolute;
                left: 16.5%;
                font-size: 22px;
                top: 41%;
            }
        }
    }
}
