#box__content {
    width: 40rem;
    margin: 0.5rem auto;
    background-color: black;
    border-radius: 1rem;
    text-align: center;
    h2 {
        color: white;
        font-style: italic;
    }
}
