.wrapper {
    padding: 12px;
    display: block;
    // width: 1300px;
}
//title
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.title-name {
    padding-right: 30px;
    font-size: 4rem;
    font-weight: 700;
}
.title-logo {
    width: 100px;
    height: 100px;
}

//filter
.filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
//form
.product-list {
    border: 2px solid #d9d9d9;
    width: 90%;
    margin: auto;
}
.product-list-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px 8px 12px;
}
.product-list-title {
    font-size: 2.5rem;
}
.list-btn {
    display: flex;
    .product-list-btn {
        padding: 8px 24px;
        margin-left: 10px;
        &:active {
            opacity: 0.6;
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

form {
    display: flex;
    padding-top: 6px;
}

form * {
    font-size: 1.8rem;
}

.btn {
    background-color: transparent;
    margin-left: 16px;
}
