.wrapper {
    padding: 12px;
    display: block;
    width: 1300px;
}
//title
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.title-name {
    padding-right: 30px;
    font-size: 4rem;
    font-weight: 700;
}
.title-logo {
    width: 100px;
    height: 100px;
}

//filter
.blue {
    background-color: #4b93fe;
}
.red {
    background-color: #da4848;
}
.purple {
    background-color: #6672e4;
}
.green {
    background-color: #7ade57;
}
.yellow {
    background-color: #dadc5c;
}
.filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.type-user {
    width: 20%;
    height: 70px;
    position: relative;
    display: block;
    color: #fff;
    margin: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.95;
    }
}
.type-icon {
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 3rem;
}
.type-name {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 1.6rem;
}

.type-quantity {
    position: absolute;
    padding-left: 12px;
    font-size: 1.4rem;
    top: 30px;
    left: 18px;
}

//form
.product-list {
    border: 2px solid #d9d9d9;
    width: 70%;
    margin: auto;
}
.product-list-content {
    padding-top: 12px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
}
.product-list-title {
    font-size: 3rem;
}
.product-list-btn {
    padding: 8px 24px;

    &:active {
        opacity: 0.6;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    padding: 8px;
    font-size: 32px;
}

th {
    background-color: #d9d9d9;
}

td {
    background-color: #fff;
    font-weight: 700;
    img {
        width: 50px;
        height: 50px;
    }
}

form {
    display: flex;
    padding-top: 6px;
}

form * {
    font-size: 1.8rem;
}

.btn {
    background-color: transparent;
    margin-left: 16px;
}
.input-edit-id {
    width: 20px;
}
.input-edit-name {
    width: 150px;
}
.input-edit-email {
    width: 120px;
}
.input-edit-gender {
    width: 50px;
}
label {
    margin-right: 16px;
}
.input-edit-role {
    width: 20px;
}

.openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
