.main {
    display: flex;
    height: 753px;

    .contain__main {
        height: 100%;
        width: 90%;

        .content {
            position: relative;
            height: 95vh;

            .background__contain {
                margin: 0 auto;
                width: 95%;
                text-align: center;
                height: 40%;
                background-color: aqua;
            }

            .content__background {
                width: 100%;
                height: 100%;
                background-size: auto;
            }

            .content__information {
                background-color: #fff;
                box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
                border-top: 1px solid rgb(178, 171, 171);
                box-sizing: border-box;
                height: 370px;
                left: 2.5%;
                padding: 63px 89px 32px 170px;
                position: absolute;
                bottom: 9%;
                width: 95%;

                .content__form {
                    grid-column-gap: 140px;
                    -webkit-column-gap: 140px;
                    column-gap: 140px;
                    display: grid;
                    font-size: 15px;
                    grid-template-columns: repeat(2, 1fr);
                    height: 100%;
                    width: 100%;
                    font-size: 19px;

                    .content__form-text {
                        display: block;

                        .content__form-start {
                            align-items: center;
                            display: flex;
                            font-weight: 600;
                            gap: 4px;

                            .content__form-start p {
                                margin-bottom: 8px;
                            }
                        }

                        .content__form-start label {
                            display: block;
                            position: absolute;
                            width: 148px;
                            height: 22px;
                            transform: translateX(-10px);
                            transform: translateY(-10px);
                            caret-color: transparent;
                        }

                        .content__form-input {
                            margin-top: 4px;
                            border: none;
                            font-size: 18px;
                            color: black;
                            padding: 0;
                            width: 180px;
                            outline: none;
                        }

                        .error__password{
                            color: red;
                            font-size: 15px;
                        }

                        input[type='date']:invalid::-webkit-datetime-edit {
                            color: #999;
                        }
                    }

                    .save__btn {
                        background-color: #fe7c4b;
                        border: 3px solid #fe7c4b;
                        border-radius: 4px;
                        color: #fff;
                        cursor: pointer;
                        font-family: inherit;
                        font-size: 14px;
                        font-weight: 600;
                        right: 0;
                        top: 103%;
                        transition: all 0.3s;
                        width: 200px;
                        height: 40px;
                        position: absolute;
                    }

                    .save__btn:hover {
                        background-color: black;
                        color: white;
                        border-color: black;
                    }

                    .save__btn--successful {
                        background-color: rgb(118, 118, 243);
                        width: 200px;
                        animation: SuccessBtn ease-in-out 3s;
                    }

                    .save__btn--successful:hover {
                        background-color: rgb(118, 118, 243);
                        width: 200px;
                    }

                    @keyframes SuccessBtn {
                        from {
                            opacity: 0.5;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                }

                ::placeholder {
                    font-size: 18px;
                    color: #000;
                }
            }

            .content__avt {
                background-color: #000;
                border: 1px solid #fff;
                border-radius: 50%;
                height: 130px;
                left: 6%;
                overflow: hidden;
                position: absolute;
                top: 35%;
                width: 130px;
                z-index: 1;

                .background {
                    object-fit: cover;
                    width: 130px;
                    height: 130px;
                }
            }

            .nickname {
                z-index: 1;
                font-weight: 600;
                position: absolute;
                left: 16.5%;
                font-size: 22px;
                top: 41%;
            }

            .choose__avt {
                height: 40px;
                align-items: center;
                background-color: #fff;
                border: 1px solid gray;
                border-radius: 50%;
                box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
                display: flex;
                justify-content: center;
                left: 13%;
                top: 47%;
                width: 40px;
                position: absolute;
                z-index: 2;
            }

            .choose__avt:hover {
                background-color: rgb(221, 238, 253);
            }

            input[type='file'] {
                display: none;
            }

            .choose__avt label {
                display: block;
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}
