@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #fd7c4b;
    --header-height: 80px;
    --width-content: 1300px;
    --text-color: #333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
button,
input {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

.responsive__style {
    display: none;
    .responsive__logo {
        width: 30rem;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    .responsive__content {
        background-color: #fe7c4b;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        font-size: 3rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 1300px) {
    .App {
        display: none;
    }
    .responsive__style {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: #333;
    }
}
