.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}
//Type of button
.primary {
    color: #fff;
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

//Size of button
.small {
    min-width: 88px;
    padding: 4px 8px;
}

.icon {
    display: inline-block;
    margin-top: 2px;
    width: 20px;
    text-align: center;
}
.title + .icon,
.icon + .title {
    margin-left: 6px;
}
