.contact {
    width: 100%;
    height: 50%;

    .contact__body {
        margin-top: 120px;
        text-align: center;
        font-size: 22px;

        .heading__contact {
            font-size: 24px;
            margin-bottom: 25px;
        }

        .contact__body p {
            line-height: 1px;
        }

        .paragraph__contact_line1 {
            color: black;
            margin-bottom: 0;
        }

        .paragraph__contact_line2 {
            color: black;
            margin-bottom: 35px;
        }

        .input__row_1 {
            display: flex;
            width: 52%;
            align-items: center;
            margin: auto;
            justify-content: space-around;
            margin-bottom: 14px;

            .input__email,
            .input__name {
                padding-left: 10px;
                font-size: 21px;
                width: 48%;
                height: 40px;
                outline: none;
                border: 1px solid #3a3838;
            }

            .input__email {
                margin-right: 5px;
            }

            .input__name {
                margin-left: 5px;
            }
        }

        .input__row_2 {
            width: 50%;
            margin-bottom: 70px;
            margin: auto;
        }

        .input__message {
            padding-top: 5px;
            padding-left: 10px;
            font-size: 21px;
            width: 50.6%;
            color: black;
            border: 1px solid #3a3838;
            outline: none;
            word-wrap: break-word;
        }

        .input__message::placeholder {
            font-family: 'Roboto', sans-serif;
        }

        ::placeholder {
            font-size: 21px;
        }

        .btn__submit {
            width: 100px;
            height: 40px;
            font-size: 20px;
            color: white;
            border-radius: 3px;
            text-align: center;
            line-height: 40px;
            margin: auto;
            margin-top: 14px;
            margin-bottom: 30px;
            background-color: var(--primary);
            font-weight: 500;
        }

        .btn__submit:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .btn__submit--successful {
            background-color: rgb(118, 111, 244);
            width: 200px;
            animation: sendcml ease-in-out 0.5s;
        }

        .btn__submit--successful:hover {
            background-color: #ff0000;
        }

        @keyframes sendcml {
            from {
                opacity: 0;
            }
            to {
                opacity: 100%;
            }
        }
    }
}
