.cart-container {
    display: flex;
    justify-content: center;
}

.cart-container--item {
    margin: 15px 50px;
}

.cart-btn {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #fe7c4b;
    padding: 12px 120px;
    border-radius: 50px;
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    transition: filter 0.2s;
    -webkit-user-select: none;
    user-select: none;
}

.cart-btn--active {
    color: white;
    background-color: #fe7c4b;
}

.cart-btn--inactive {
    color: #fe7c4b;
    background-color: white;
}

.cart-btn--disabled{
    opacity: 0.5;
    pointer-events: none;
}

.cart-btn--disabled:hover{
    cursor: default;
}

.cart-btn--enabled{
    opacity: 1;
}

.cart-btn--enabled:hover{
    cursor: pointer;
    filter: brightness(85%);
}

.cart-btn__marginTop{
    margin-top: 100px;
}

.cart-table {
    border: 1px solid black;
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.cart-row {
    border-bottom: 1px solid black;
    padding-left: 50px;
}

.cart-row--header {
    color: white;
    background-color: black;
    font-weight: bold;
}

.cart-col {
    height: 35px;
    vertical-align: middle;
    padding: 10px;
    border: none;
}

.cart-input{
    text-indent: 30px;
    background-color: transparent;
}

.cart-textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    border: none;
    outline: none;
    resize: none;
    margin-top: 5px;
    text-indent: 30px;
    background-color: transparent;
}

#table-wrapper {
    position: relative;
}
#table-scroll {
    height: 286px;
    overflow: auto;
    border: 1px solid black;
}
#table-wrapper #table {
    width: 100%;
    border-collapse: collapse;
}

#table-wrapper .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
    border: 1px solid red;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.item-price {
    color: #ff0000;
}

.item-quantity {
    display: flex;
    align-items: center;
}

#current-quantity {
    margin: 0 10px;
}

#btn--add,
#btn--remove {
    text-decoration: none;
    background-color: transparent;
    transition: color 0.2s;
    font-size: 20px;
}

#btn--add:hover,
#btn--remove:hover {
    cursor: pointer;
    color: #fd7c4b;
}

.empty-cart {
    vertical-align: middle;
    text-align: center;
}

.empty-cart-image {
    width: 220px;
    height: 220px;
    display: block;
    object-fit: contain;
    margin: 20px auto;
    -webkit-user-select: none;
    user-select: none;
}

.icon {
    position: absolute;
    font-size: 20px;
}

.item-name, .item-price {
    font-weight: 500;
}