.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgb(22, 24, 35, 0.03);
    }
}

.food-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.food-content {
    flex: 1;
    margin-left: 12px;
}

.food-name {
    font-size: 1.4rem;
    font-weight: 600;
}
