.search {
    position: relative;
    display: flex;
    width: var(--search-width);
    align-items: center;
    height: var(--search-height);
    background-color: #fff;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: #000;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #000;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: var(--primary);
    }
}

.search-result {
    width: var(--search-width);
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    user-select: none;
}
.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.75);
    background-color: #fff;

    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.clear,
.loading {
    position: absolute;
    right: 60px;
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
    cursor: pointer;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
