.menu-list {
    width: 230px;
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;

    &.separate {
        border-top: 2px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        color: #fe7c4b;
    }
}
