$color_1: white;
$background-color_1: #584D52;
$background-color_2: black;
$background-color_3: rgba(231, 128, 10, 0.945);
$background-color_4: #bd5b00;
$background-color_5: white;
$background-color_6: #1b0f045d;
$background-color_7: #1b0f0400;
$background-color_8: rgba(150, 126, 139, 0.726);

/* #head_content .nav_content{
    
} */
/* .nav_content .sub_nav_content > option {
    display: block;
} */
/*phong to anh khi hover*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
#container {
	margin-bottom: 15px;
	background-color: $background-color_1;
	padding: 10px 0;
}
#slogan {
	width: 30%;
	height: 25px;
	background-color: $background-color_2;
	color: $color_1;
	margin: 15px auto;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}
#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	.box_food {
		width: 21%;
		height: 20%;
		margin: 1% 2%;
		padding-bottom: 2px;
		background-color: $background-color_5;
		border-radius: 10px;
		font-size: 14px;
		font-weight: bold;
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;
		img {
			width: 100%;
			transition-duration: 0.5s;
			-wekit-transition-duration: 0.5;
			-moz-transition-duration: 0.5;
			-o-transition-duration: 0.5s;
			-ms-transition-duration: 0.5s;
			border-radius: 10px;
		}
		&:hover {
			img {
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-o-transform: scale(1.2);
				-ms-transform: scale(1.2);
				cursor: pointer;
			}
			background-color: $background-color_8;
		}
	}
}
.list_head_content {
	display: flex;
	justify-content: center;
}
#head_content {
	.nav_content {
		list-style: none;
		display: block;
		width: 150px;
		height: 30px;
		border: 1px solid rgba(231, 128, 10, 0.945);
		color: $color_1;
		background-color: $background-color_3;
		border-radius: 5px;
		margin: 0 5px;
		text-align: center;
		text-shadow: #584D52;
		line-height: 15px;
		a {
			color: $color_1;
			background-color: $background-color_3;
			line-height: 30px;
			cursor: pointer;
		}
		&:hover {
			a {
				background-color: $background-color_4;
				color: $color_1;
				text-decoration: none;
				display: block;
				border-radius: 5px;
				border: 1px solid #bd5b00;
			}
		}
	}
}
.nav_content {
	.sub_nav_content {
		background-color: $background-color_3;
		border: none;
		color: $color_1;
		width: 150px;
		height: 30px;
		text-align: center;
		border-radius: 5px;
		&:hover {
			background-color: $background-color_4;
			color: $color_1;
			border-radius: 5px;
		}
	}
}
.box_food {
	.box_hover {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $background-color_6;
		color: $color_1;
		display: none;
		text-align: center;
		line-height: 400px;
		.shopping_icon {
			position: absolute;
			top: 40%;
			left: 40%;
			background-color: $background-color_7;
			border: none;
		}
	}
	&:hover {
		.box_hover {
			display: block;
		}
	}
}
.list_item_food {
	display: flex;
	justify-content: space-around;
}
